.li_card_conteiner {
	display: flex;
	height: 87px;
	background: #f8f9fa;
	border-radius: 4px;
}

.card_color {
	width: 4px;
	border-radius: 4px 0px 0px 4px;
}

.green {
	background: #03b898;
}

.red {
	background: rgb(199, 63, 28);
}

.card_content {
	width: 100%;
	display: flex;
	padding: 8px 13px 11px 14px;
	justify-content: space-between;
}

.card_description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.card_description > h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #212529;
	width: 337px;
	height: 39px;
	text-align: left;
}

.card_description > p {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #5b6166;
}

.card_content > p {
	margin-top: 10px;
}

.card_content > button {
	margin-top: 10px;
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2.46154px;
}

.card_content > button:hover {
	background: #5b6166;
}

button img:last-child {
	display: none;
}

button:hover img:last-child {
	display: block;
}

button:hover img:first-child {
	display: none;
}
